@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(179, 180, 180);

}
.black-btn{

  transition: 0.5s;
  border-radius: 10px;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px rgb(255 255 255 / 51%);
  background-image: linear-gradient(to right, #141E30 0%, #243B55 51%, #141E30 100%);
}
.black-btn:hover{
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.black-btn:focus {
  outline: none;
  box-shadow: none;
}
.shadow-com{
  box-shadow: 0 0 5px rgb(255 255 255 / 99%);

}
